.accordion {
    --bs-border-width: 0;
    --bs-accordion-active-bg: transparent;
    .accordion-item {
        border-radius: $border-radius-lg;
        & + .accordion-item {
            margin-top: $spacer;
        }

        .accordion-header {
            .accordion-button {
                border-radius: $border-radius-lg;
                font-weight: 500;
                border: none;
                box-shadow: none;
                padding: $spacer * 0.75 $spacer;
                font-size: 1rem;
                &:after {
                    background-size: 1rem;
                    background-position: center center;
                }
                &:not(.collapsed) {
                    border-radius: $border-radius-lg $border-radius-lg 0 0;
                    border-bottom: 1px solid var(--accordion-active-button-border-color);
                }
            }
        }
    }
}

// Dark Theme
[data-bs-theme="dark"] {
    .accordion {
        --bs-accordion-bg: #{$gray-700};
        --bs-accordion-border-radius: #{$border-radius-lg};
        --bs-accordion-active-color: #{$white};
        --accordion-active-button-border-color: #{$gray-600};
        --bs-accordion-color: #($white);
        .table-responsive {
            max-height: 44vh;
        }
        .accordion-body {
            .form-group-container {
                background: lighten($gray-800, 10);
            }
        }
        .table {
            thead {
                th {
                    --bs-table-bg-type: #{$gray-800};
                }
            }
        }
        .nav {
            &.nav-pills {
                background-color: $gray-600;
                .nav-link {
                    &:not(.active) {
                        &:hover {
                            background-color: $gray-500;
                        }
                    }
                }
            }
        }
    }
}

// Light Theme
[data-bs-theme="light"] {
    .accordion {
        --bs-accordion-bg: #{lighten($gray-00, 5)};
        --bs-accordion-border-radius: #{$border-radius-lg};
        --bs-accordion-active-color: #{$dark};
        --accordion-active-button-border-color: #{$gray-00};
    }
}
